{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{% block title %}The Fruit Shack{% endblock %}</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href= "{% static 'assets/img/favicon.png' %}" >
	<!-- google font -->
	<link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap' %}" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/userprofile.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/adress.css' %}">
	{% comment %} <link rel="stylesheet" href="{% static 'assets/css/zoomstyle.css' %}"> {% endcomment %}

	<!--cart-->
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
	<!--user-profile-->
	{% comment %} <link rel="stylesheet" href="{% static 'assets/css/userprofile.css' %}"> {% endcomment %}
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'https://unpkg.com/imagezoom/dist/imagezoom.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	
    <!--Stylesheet-->

	<style>
		{% comment %} /* Style for the user icon */ {% endcomment %}
		.user-icon {
		  {% comment %} background-color: #3498db; {% endcomment %}
		  position: relative;
    	  display: inline-block;
		}
	  
		{% comment %} /* Style for the dropdown content (hidden by default) */ {% endcomment %}
		.dropdown-content {
		  display: none;
		  position: absolute;
		  {% comment %} background-color: #f9f9f9; {% endcomment %}
		  min-width: 160px;
		  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		
	  
		{% comment %} /* Style for dropdown links */ {% endcomment %}
		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
	  
		{% comment %} /* Change color on hover */ {% endcomment %}
		.dropdown-content a:hover {
		  {% comment %} background-color: #f1f1f1; {% endcomment %}
		}
	  
		{% comment %} /* Show the dropdown content when hovering over the user icon */ {% endcomment %}
		.user-icon:hover .dropdown-content {
		  display: block;
		}
	  </style>	

</head>
<body>

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url "index" %}">
								<img src="{% static 'assets/img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'index' %}" style="text-decoration:none;">Home</a>
								</li>
								<li><a href="{% url "about" %}" style="text-decoration:none;">About</a></li>
								<li><a href="{% url 'shopview' %}" id="shop-link" style="text-decoration:none;">Shop</a></li>
								<li><a href="{% url "contact" %}" style="text-decoration:none;">Contact</a>
								</li>                                                                                                                                                                   
								<li>
									<div class="header-icons">
										{% if item_count > 0 %}
										<a class="shopping-cart" href="{% url 'cart_detail'%}"><i class="fas fa-shopping-cart">({{item_count}})</i></a>
										{% endif %}
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
										<a class="wish-list" href="{% url "wishlist" %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
										{% comment %} <a href="{% url 'login_page' %}" style="text-decoration:none;">Login</a>
										<a href="{% url 'register' %}" style="text-decoration:none;">Register</a> {% endcomment %}
										{% if request.user.is_authenticated %}
										<div class="user-icon">
											<a class=" dropbtn user-account" role="button" href="#"><i class="fa fa-user" aria-hidden="true"><span class="user-name" style="color:white; padding-left:6px;">{{request.user.first_name}}</span></i></a>
											<div class="dropdown-content">
													<a href="{% url 'user_profile' %}">Profile</a>
													<a href="{% url 'user_logout' %}">Logout</a>
											</div>
									    </div>
										{% else %}
										<div class="user-icon">
											<a class=" dropbtn user-account" role="button" href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
											<div class="dropdown-content">
													<a href="{% url 'login_page' %}">Login</a>
													<a href="{% url 'register' %}">Register</a>
											</div>
									    </div>
										{%  endif %}
									</div>
								
										


								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

<!--	&lt;!&ndash; search area &ndash;&gt;-->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h4>Search For:</h4>
							<form class="d-flex" action="{% url 'Searchresult' %}" method="post">
								{% csrf_token %}
							<input type="text" name="search" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--	&lt;!&ndash; end search area &ndash;&gt;-->

<!--            &lt;!&ndash; cart banner section &ndash;&gt;-->
<!--	<section class="cart-banner pt-100 pb-100">-->
<!--    	<div class="container">-->
<!--        	<div class="row clearfix">-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; end cart banner section &ndash;&gt;-->
<!--	&lt;!&ndash; shop banner &ndash;&gt;-->
<!--	<section class="shop-banner">-->
<!--    	<div class="container">-->
<!--        	<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>-->
<!--            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>-->
<!--            <a href="shop.html" class="cart-btn btn-lg">Shop Now</a>-->
<!--        </div>-->
<!--    </section>-->
<!--	&lt;!&ndash; end shop banner &ndash;&gt;-->
	{% block start %}

    {% endblock %}






<!--	&lt;!&ndash; footer &ndash;&gt;-->
<!--	<div class="footer-area">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box about-widget">-->
<!--						<h2 class="widget-title">About us</h2>-->
<!--						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box get-in-touch">-->
<!--						<h2 class="widget-title">Get in Touch</h2>-->
<!--						<ul>-->
<!--							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>-->
<!--							<li>support@fruitkha.com</li>-->
<!--							<li>+00 111 222 3333</li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box pages">-->
<!--						<h2 class="widget-title">Pages</h2>-->
<!--						<ul>-->
<!--							<li><a href="index.html">Home</a></li>-->
<!--							<li><a href="about.html">About</a></li>-->
<!--							<li><a href="services.html">Shop</a></li>-->
<!--							<li><a href="news.html">News</a></li>-->
<!--							<li><a href="contact.html">Contact</a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box subscribe">-->
<!--						<h2 class="widget-title">Subscribe</h2>-->
<!--						<p>Subscribe to our mailing list to get the latest updates.</p>-->
<!--						<form action="index.html">-->
<!--							<input type="email" placeholder="Email">-->
<!--							<button type="submit"><i class="fas fa-paper-plane"></i></button>-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; end footer &ndash;&gt;-->

<!--	&lt;!&ndash; copyright &ndash;&gt;-->
<!--	<div class="copyright">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-6 col-md-12">-->
<!--					<p>Copyrights &copy; 2019 - <a href="{% static 'https://imransdesign.com/' %}">Imran Hossain</a>,  All Rights Reserved.<br>-->
<!--						Distributed By - <a href="{% static 'https://themewagon.com/' %}">Themewagon</a>-->
<!--					</p>-->
<!--				</div>-->
<!--				<div class="col-lg-6 text-right col-md-12">-->
<!--					<div class="social-icons">-->
<!--						<ul>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; end copyright &ndash;&gt;-->

	<!-- jquery -->
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'assets/js/main.js' %}"></script>
	{% comment %} paypal script {% endcomment %}
	<script src="{% static 'https://www.paypal.com/sdk/js?client-id=test&currency=USD' %}"></script>
	<script src="{% static 'https://unpkg.com/imagezoom/dist/imagezoom.min.js' %}"></script>
	<script src="{% static 'https://kit.fontawesome.com/a076d05399.js'%}" crossorigin="anonymous"></script>
	<script src="{% static 'https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js' %}"></script>
	






</body>
</html>