{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block start%}

<div class="container mt-4" style="padding-top:95px;">
    <div class="row">
        <div class="col-lg-3 my-lg-0 my-md-1">
            <div id="sidebar" class="bg-purple">
                <div class="h4 text-white">Account</div>
                <ul>
                    <li class="active">
                        <a href="{% url 'user_profile' %}" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-box pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Account</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-box-open pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Orders</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'user_address' %}" class="text-decoration-none d-flex align-items-start">
                            <div class="far fa-address-book pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">Address Book</div>
                                <div class="link-desc">View & Manage Addresses</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-decoration-none d-flex align-items-start">
                            <div class="far fa-user pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Profile</div>
                                <div class="link-desc">Change your profile details & password</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-headset pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">Help & Support</div>
                                <div class="link-desc">Contact Us for help and support</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 my-lg-0 my-1">
            <div id="main-content" class="bg-white border">
                <div class="card-header py-3">
                    <h5 class="mb-0 text-font text-uppercase">Reset Password:</h5>
                </div>
                <div class="card-body">
                    <form method='post' action="{% url 'change_password' %}">
                        {% csrf_token %}
                        {% include "alert.html" %}
                        <label>Current Password:</label> <br>
                        <div class="form-field d-flex align-items-center">
                            
                            <span class="far fa-edit"></span>
                            <input type="password" name="old_password" id="c_password" required>
                        </div><br>
                        <label>New Password:</label> <br>
                        <div class="form-field d-flex align-items-center">
                            <span class="far fa-edit"></span>
                            <input type="password" name="new_password" id="password" required>
                        </div><br>
                        <label>Confirm Password:</label> <br>
                        <div class="form-field d-flex align-items-center">
                            <span class="far fa-edit"></span>
                            <input type="password" name="confirm_password" id="password" required>
                        </div><br>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}