{% extends 'admin-base.html' %}
{% block title %}Product-Management{% endblock %}
{% load static %}
{% block start %}
<section class="content-main">
    <div class="content-header">

    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-2 col-6 col-md-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addCategory">
                        <button type="submit" class="btn btn-primary"><i class="ti ti-plus"></i> Add Category</button>

                    </a>
                </div>
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>

                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>sort</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Images</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pro %}
                        <tr>
                            <td> {{forloop.counter}} </td>
                            <td>
                                <div style="width: 50px;" class="overflow-hidden">
                                    <img class="w-100" src="{{ p.image.url }}" alt="">
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'image_delete' p.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                    <a href="{% url 'addimage' product.id %}" class="btn btn-primary">Add Image</a>
  
                {% comment %} <a  type="submit" class="btn btn-primary" href="#">Add Image</a> {% endcomment %}
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->

</section>


{% endblock %}