{% extends 'base.html' %}
{% load static %}

{% block start %}


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul> {% if category_name == 'all'%}
                            <a href="{% url 'shopview' %}"><li class="active" >All</li></a>
							{% else %}
							<a href="{% url 'shopview' %}"><li >All</li></a>
							{% endif %}
							{% for cat in category %}
                            <a href="{% url 'shopview' %}?c_id={{ cat.category_name }}">
								{% if category_name ==  cat.category_name %}
								<li class="active">{{cat.category_name}}</li>
								{% else %}
								<li>{{cat.category_name}}</li>
								{% endif %}
							</a>
							{% endfor %}
                            
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists" style="background-color:#ffff;">
				{% for pro in product %}
				<div class="col-lg-4 col-md-6 text-center" style="background-color:#ffff;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'get_products' pro.slug %}"><img src="{{pro.product_images.first.image.url}}" alt=""></a>
						</div>
						<h3>{{pro.product_name}}</h3>
						<p class="product-price"><span>Per Kg</span>{{pro.price}}</p>
						{% if pro.offer %}
						<p>{{pro.offer.percentage }}% off</p>
						{% endif %}
						{% if pro.category.offer %}
						<p>{{pro.category.offer.percentage }}% off for this category</p>
						{% endif %}
						<a href="{% url 'get_products' pro.slug %}" class="cart-btn" style="text-decoration:None;"><i class="fas fa-shopping-cart"></i> Buy Now</a>
					</div>

				</div>
				{% endfor %}
<!--				<div class="col-lg-4 col-md-6 text-center berry">-->
<!--					<div class="single-product-item">-->
<!--						<div class="product-image">-->
<!--							<a href="single-product.html"><img src="assets/img/products/product-img-2.jpg" alt=""></a>-->
<!--						</div>-->
<!--						<h3>Berry</h3>-->
<!--						<p class="product-price"><span>Per Kg</span> 70$ </p>-->
<!--						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 text-center lemon">-->
<!--					<div class="single-product-item">-->
<!--						<div class="product-image">-->
<!--							<a href="single-product.html"><img src="assets/img/products/product-img-3.jpg" alt=""></a>-->
<!--						</div>-->
<!--						<h3>Lemon</h3>-->
<!--						<p class="product-price"><span>Per Kg</span> 35$ </p>-->
<!--						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 text-center">-->
<!--					<div class="single-product-item">-->
<!--						<div class="product-image">-->
<!--							<a href="single-product.html"><img src="assets/img/products/product-img-4.jpg" alt=""></a>-->
<!--						</div>-->
<!--						<h3>Avocado</h3>-->
<!--						<p class="product-price"><span>Per Kg</span> 50$ </p>-->
<!--						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 text-center">-->
<!--					<div class="single-product-item">-->
<!--						<div class="product-image">-->
<!--							<a href="single-product.html"><img src="assets/img/products/product-img-5.jpg" alt=""></a>-->
<!--						</div>-->
<!--						<h3>Green Apple</h3>-->
<!--						<p class="product-price"><span>Per Kg</span> 45$ </p>-->
<!--						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 text-center strawberry">-->
<!--					<div class="single-product-item">-->
<!--						<div class="product-image">-->
<!--							<a href="single-product.html"><img src="assets/img/products/product-img-6.jpg" alt=""></a>-->
<!--						</div>-->
<!--						<h3>Strawberry</h3>-->
<!--						<p class="product-price"><span>Per Kg</span> 80$ </p>-->
<!--						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
<!--					</div>-->
<!--				</div>-->
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
<!--						<ul>-->
<!--							<li><a href="#">Prev</a></li>-->
<!--							<li><a href="#">1</a></li>-->
<!--							<li><a class="active" href="#">2</a></li>-->
<!--							<li><a href="#">3</a></li>-->
<!--							<li><a href="#">Next</a></li>-->
<!--						</ul>-->

						{% if product.has_previous %}
            			<a href="?page=1">&laquo; first</a>
            			<a href="?page={{ product.previous_page_number }}">previous</a>
        				{% endif %}

        				<span class="current">
            			Page {{ product.number }} of {{ product.paginator.num_pages }}.
        				</span>

        				{% if product.has_next %}
            			<a href="?page={{ product.next_page_number }}">next</a>
            			<a href="?page={{ product.paginator.num_pages }}">last &raquo;</a>
        				{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

<!--	&lt;!&ndash; footer &ndash;&gt;-->
<!--	<div class="footer-area">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box about-widget">-->
<!--						<h2 class="widget-title">About us</h2>-->
<!--						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box get-in-touch">-->
<!--						<h2 class="widget-title">Get in Touch</h2>-->
<!--						<ul>-->
<!--							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>-->
<!--							<li>support@fruitkha.com</li>-->
<!--							<li>+00 111 222 3333</li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box pages">-->
<!--						<h2 class="widget-title">Pages</h2>-->
<!--						<ul>-->
<!--							<li><a href="index.html">Home</a></li>-->
<!--							<li><a href="about.html">About</a></li>-->
<!--							<li><a href="services.html">Shop</a></li>-->
<!--							<li><a href="news.html">News</a></li>-->
<!--							<li><a href="contact.html">Contact</a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box subscribe">-->
<!--						<h2 class="widget-title">Subscribe</h2>-->
<!--						<p>Subscribe to our mailing list to get the latest updates.</p>-->
<!--						<form action="index.html">-->
<!--							<input type="email" placeholder="Email">-->
<!--							<button type="submit"><i class="fas fa-paper-plane"></i></button>-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; end footer &ndash;&gt;-->

<!--	&lt;!&ndash; copyright &ndash;&gt;-->
<!--	<div class="copyright">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-6 col-md-12">-->
<!--					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>-->
<!--						Distributed By - <a href="https://themewagon.com/">Themewagon</a>-->
<!--					</p>-->
<!--				</div>-->
<!--				<div class="col-lg-6 text-right col-md-12">-->
<!--					<div class="social-icons">-->
<!--						<ul>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; end copyright &ndash;&gt;-->

{% endblock %}
